@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot');
	src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
	url('../fonts/icomoon.ttf') format('truetype'),
	url('../fonts/icomoon.woff') format('woff'),
	url('../fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:before{
		font-family: "icomoon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
		text-decoration: none;
		text-transform: none;
	}
}


.icon-calendar .path1:before {
	content: "\e900";
}
.icon-calendar .path2:before {
	content: "\e901";
	margin-left: -1em;
}
.icon-call-answer:before {
	content: "\e902";
}
.icon-customers .path1:before {
	content: "\e903";
}
.icon-customers .path2:before {
	content: "\e904";
	margin-left: -1em;
}
.icon-customers .path3:before {
	content: "\e905";
	margin-left: -1em;
}
.icon-customers .path4:before {
	content: "\e906";
	margin-left: -1em;
}
.icon-customers .path5:before {
	content: "\e907";
	margin-left: -1em;
}
