// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: $headings-font-family;
  margin: 0 0 0.5em;
  color: $headings-color;
  font-weight: 300;
}

h1, .h1 {
  font-size: $h1-font-size;
  line-height: 1.2;
  @include media("<=tablet"){
    font-size:$h1-font-size * 0.8;
  }
}

h2, .h2 {
  font-size: $h2-font-size;
  @include media("<=tablet"){
    font-size:$h2-font-size * 0.8;
  }
}

h3, .h3 {
  font-size: $h3-font-size;
  @include media("<=tablet"){
    font-size:$h3-font-size * 0.9;
  }
}

h4, .h4 {
  font-size: $h4-font-size;
  @include media("<=tablet"){
    font-size:$h4-font-size * 0.9;
  }
}

h5, .h5 {
  font-size: $h5-font-size;
  @include media("<=tablet"){
    font-size:$h5-font-size * 0.9;
  }
}

h6, .h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 1em;
}

a {
  color: $base-link-color;
  text-decoration:none;
  &:hover{
    color: $base-link-hover-color;
  }
}
strong{
  font-weight: 800;
}