$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 992px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/icons';
@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

#wrapper{
	position:relative;
	overflow:hidden;
	padding: 72px 0 0;
}
.center-holder{
	max-width: 1170px;
	margin: 0 auto;
	@include media("<=widescreen"){
		max-width: none;
		padding: 0 20px;
	}
}
/*------------- Header styles ----------*/
.header{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 72px;
	border-bottom: 1px solid $gray;
}



.visual-section{
	background-size: cover;
	background-position: center;
	color: $white;
	.visual-text{
		max-width: 570px;
	}
}




