
<header class="header">
	<div class="center-holder header-holder">
		<a href="#" class="logo">
			<img src="images/logo.png" alt="Time Point" />
		</a>
		<a href="#" class="menu-opener"><span>opener</span></a>
		<div class="nav-holder">
			<nav class="nav">
				<ul>
					<li class="active"><a href="#"><span>Company</span> </a></li>
					<li><a href="#"><span>Customers</span></a></li>
					<li>
						<a href="#"><span>Solutions</span> </a>
						<div class="drop-down">
							<div class="center-holder">
								<div class="info-box">
									<h3>Technology</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus sagittis tristique. Proin fermentum vel turpis nec aliquam. Sed nec elementum odio.</p>
									<a href="#" class="btn transparent">Time to Move</a>
								</div>
								<div class="menu-holder">
									<div class="box-menu">
										<h6>Reports & Tracking</h6>
										<ul class="drop-menu">
											<li><a href="#">Time & Attendance</a></li>
											<li><a href="#">Pocket Reporter</a></li>
											<li><a href="#">Tracker Manager</a></li>
											<li><a href="#">Labour Analytics</a></li>
											<li><a href="#">Dashboard Reports</a></li>
										</ul>
									</div>
									<div class="box-menu">
										<h6>Time Management</h6>
										<ul class="drop-menu">
											<li><a href="#">Employee Self-Service</a></li>
											<li><a href="#">Rosters & Scheduling</a></li>
											<li><a href="#">Absence Manager</a></li>
											<li><a href="#">HR Manager</a></li>
											<li><a href="#">eAlerts Manager</a></li>
										</ul>
									</div>
									<div class="box-menu">
										<h6>Payroll & Clocking</h6>
										<ul class="drop-menu">
											<li><a href="#">Automate Payroll</a></li>
											<li><a href="#">Clocking In Systems</a></li>
											<li><a href="#">Time Point Cloud</a></li>
											<li><a href="#">Flexitime</a></li>
											<li><a href="#">Timesheets</a></li>
										</ul>
									</div>

								</div>
							</div>
						</div>
					</li>
					<li><a href="#"><span>Technology</span></a></li>
					<li>
						<a href="#"><span>industries</span></a>
					</li>
					<li><a href="#"><span>Contact</span></a></li>
				</ul>
			</nav>
			<div class="buttons-holder">
						<span>
							<a href="#" class="btn transparent">Time to Move</a>
						</span>
				<span>
							<a href="#" class="btn">Book a Demo</a>
						</span>
			</div>
		</div>
	</div>
</header>