
<header class="header">
	<div class="center-holder header-holder">
		<a href="#" class="logo">
			<img src="images/logo.png" alt="Time Point" />
		</a>
		<div class="nav-holder">
			<a href="#" class="menu-opener"><span>opener</span></a>
			<nav class="nav">
				<ul>
					<li><a href="#">Company </a></li>
					<li><a href="#">Customers</a></li>
					<li>
						<a href="#">Solutions </a>
						<div class="drop-down">
							<div class="center-holder">
								<div class="info-box">
									<h3>Technology</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus sagittis tristique. Proin fermentum vel turpis nec aliquam. Sed nec elementum odio.</p>
									<a href="#" class="btn transparent">Time to Move</a>
								</div>
								<div class="menu-holder">
									<div class="box-menu">
										<h4>Reports & Tracking</h4>
										<ul class="drop-menu">
											<li><a href="#">Time & Attendance</a></li>
											<li><a href="#">Pocket Reporter</a></li>
											<li><a href="#">Tracker Manager</a></li>
											<li><a href="#">Labour Analytics</a></li>
											<li><a href="#">Dashboard Reports</a></li>
										</ul>
									</div>
									<div class="box-menu">
										<h4>Time Management</h4>
										<ul class="drop-menu">
											<li><a href="#">Employee Self-Service</a></li>
											<li><a href="#">Rosters & Scheduling</a></li>
											<li><a href="#">Absence Manager</a></li>
											<li><a href="#">HR Manager</a></li>
											<li><a href="#">eAlerts Manager</a></li>
										</ul>
									</div>
									<div class="box-menu">
										<h4>Payroll & Clocking</h4>
										<ul class="drop-menu">
											<li><a href="#">Automate Payroll</a></li>
											<li><a href="#">Clocking In Systems</a></li>
											<li><a href="#">Time Point Cloud</a></li>
											<li><a href="#">Flexitime</a></li>
											<li><a href="#">Timesheets</a></li>
										</ul>
									</div>

								</div>
							</div>
						</div>
					</li>
					<li><a href="#">Technology</a></li>
					<li>
						<a href="#">industries</a>
						<div class="drop-down">
							<div class="center-holder">
								<div class="info-box">
									<h3>industries</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus sagittis tristique. Proin fermentum vel turpis nec aliquam. Sed nec elementum odio.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus sagittis tristique. Proin fermentum vel turpis nec aliquam. Sed nec elementum odio.</p>
									<a href="#" class="btn transparent">Time to Move</a>
								</div>
								<div class="menu-holder">
									<div class="box-menu">
										<h4>Reports & Tracking</h4>
										<ul class="drop-menu">
											<li><a href="#">Link1</a></li>
											<li><a href="#">Link2</a></li>
											<li><a href="#">Link3</a></li>
											<li><a href="#">Labour Analytics</a></li>
											<li><a href="#">Dashboard Reports</a></li>
										</ul>
									</div>
									<div class="box-menu">
										<h4>Time Management</h4>
										<ul class="drop-menu">
											<li><a href="#">Employee Self-Service</a></li>
											<li><a href="#">Rosters & Scheduling</a></li>
											<li><a href="#">Absence Manager</a></li>
											<li><a href="#">HR Manager</a></li>
											<li><a href="#">eAlerts Manager</a></li>
										</ul>
									</div>
									<div class="box-menu">
										<h4>Payroll & Clocking</h4>
										<ul class="drop-menu">
											<li><a href="#">Automate Payroll</a></li>
											<li><a href="#">Clocking In Systems</a></li>
											<li><a href="#">Time Point Cloud</a></li>
											<li><a href="#">Flexitime</a></li>
											<li><a href="#">Timesheets</a></li>
										</ul>
									</div>

								</div>
							</div>
						</div>
					</li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>
		<div class="buttons-holder">
						<span>
							<a href="#" class="btn transparent">Time to Move</a>
						</span>
			<span>
							<a href="#" class="btn">Book a Demo</a>
						</span>
		</div>
	</div>
</header>